body, span, h1 {
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'Helvetica', sans-serif;
}
span {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
    color: #646464;
}
.menu { 
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e8e8e8;
    height: 50px;
    padding: 0 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 1000; 
}

.linkedin {
    width: 40px;
    height: auto;
    margin-left: 200px;
    margin-right: 10px;
    cursor: pointer; 
}

.barra-busqueda {
    height: 25px;
    width: 330px; 
    padding: 5px 30px 5px 25px;
    border: none;
    border-radius: 5px;
    background: url(iconos/lupa.png) no-repeat 10px center;
    background-size: 15px;
}
.barra-busqueda::placeholder {
    color: #888; 
    padding-left: 30px; 
}
.barra-busqueda:focus {
    padding-left: 35px; 
}
.casa-container {
    margin-top: 5PX;
    display: flex;
    flex-direction: column; 
    align-items: center;
    cursor: pointer;
    margin-left:30px;
}
.casa {
    width: 33px;
    height: auto;
    position: relative;
}
.casa-container:hover .casa {
    color: black;
}

.inicio {
    font-size: 12px; 
    color: #555; 
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}
.casa-container:hover .inicio {
    color: black; 
}
.red-container {
    margin-top: 5PX;
    display: flex;
    flex-direction: column; 
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
}
.red {
    width: 24px;
    height: auto;
    position: relative;
    margin-bottom: 0px;
}
.text-red {
    font-size: 12px; 
    color: #555; 
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
}
.text-red:hover {
    color: black;
}
.text :hover {
    color: black;
}
.portafolio-container {
    margin-top: 5PX;
    display: flex;
    flex-direction: column; 
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
}
.portafolio {
    width: 24px;
    height: auto;
    position: relative;
    margin-bottom: 0px;
}
.text-empleos {
    font-size: 12px;
    color: #555; 
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}
.text-empleos:hover {
    color: black;
}
.mensajes-container {
    margin-top: 5PX;
    display: flex;
    flex-direction: column; 
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
}
.mensajes {
    width: 24px;
    height: auto;
    position: relative;
    margin-bottom: 0px;
}
.text-mensajes {
    font-size: 12px; 
    color: #555; 
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}
.text-mensajes:hover {
    color: black;
}
.notificaciones-container {
    margin-top: 5PX;
    display: flex;
    flex-direction: column; 
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
}
.notificaciones {
    width: 24px;
    height: auto;
    position: relative;
    margin-bottom: 0px;
}
.text-notificaciones {
    font-size: 12px; 
    color: #555; 
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}
.text-notificaciones:hover {
    color: black;
}
.perfil-container {
    margin-top: 5PX;
    display: flex;
    flex-direction: column; 
    cursor: pointer;
    margin-left: 30px;
}
.perfil {
    width: 24px;
    height: auto;
    position: relative;
    margin-bottom: 0px;
}
.text-perfil {
    font-size: 12px; 
    color: #555; 
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}
.text-perfil:hover {
    color: black;
}
.yo-container {
    width: 35px; 
    height: 35px;
    border-radius: 50%; 
    overflow: hidden; 
    border: 2px solid #ddd; 
    margin-left: 20px;
}
.yo {
    width: 100%; 
    height: auto;
}
.text-yo {
    font-size: 12px; 
    color: #555; 
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}
.text-yo:hover {
    color: black;
}
.separador {
    height: 60px; 
    width: 1px; 
    background-color: #ebeaea; 
    margin: 0 20px; 
}
.negocios-container {
    margin-top: 5PX;
    display: flex;
    flex-direction: column; 
    cursor: pointer;
    margin-right: 30px;
    align-items: center;
}
.negocios {
    width: 25px;
    height: Auto;
    position: relative;
    margin-bottom: 0px;
}
.text-negocios {
    font-size: 12px; 
    color: #555; 
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}
.text-negocios:hover {
    color: black;
}
.text-negocios {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prueba-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-left: 1px;
    font-size: 13px;
}

.linea-dorada {
    color: #ffae00a9; 
    cursor: pointer;
}

#texto-subrayado:hover .linea-dorada {
    color: black; 
    text-decoration: none; 
.profile-section {
    margin-left: 220px;
    width: 200px;
    height: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 15px;
}

.profile-section p {
    color: #555;
    margin: 8px 0;
}
.perfil-circulo {
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    overflow: hidden; 
    border: 2px solid #ddd; 
    justify-content: center;
    align-items: center;
}

.foto-perfil {
    width: 100%; 
    height: auto;
}
.universidad {
    font-size: 11px;
}
.section-divider {
    width: 110%; 
    height: 1px; 
    background-color: #ddd; 
    margin: 2px 0;
    opacity: 70%; 
    padding: 0px;
}
.contactos {
    width: 100px;
    font-size: 13px;
    color: gainsboro;
    align-self: flex-start;
    margin-right: 500px;
    padding: 0px;
    text-align: justify;
}

.contactos-red {
    color: black;
    align-self: flex-start;
    margin-top: 2px;
    font-size: 11px;
}

.letra {
    align-self: flex-end;
    width: 10px; 
}
.accede {
    width: 200px;
    align-self: flex-start;
    color: #555;
    margin-right: 100px;
    font-size: 12px;
    text-align: justify;
}
.separador-informacion {
    width: 110%;
    height: 1px;
    background-color: #ddd; 
    margin: 10px 0; 
}
.marcador {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icono-marcador {
    width: 20px;
    height: auto;
}

.text-marcador {
    font-size: 13px;
    color: #555;
    margin: 0;
}

.separator {
    height: 1px; 
    width: 220px; 
    background-color: #ddd; 
    margin-left: -10px; 
}
.ver-mas {
    text-align: center;
    margin-top: -8px;
}
.container {
    display: flex;
    flex-direction: column;
}

.main-container {
        display: flex;
        flex-wrap: wrap;

}
.content-section {
    flex: 2;
    height: 100px;
    width: 620px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 30px; 
}

.nueva-seccion {
    height: 500px;
    width: 600px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 30px; 
}
.navigation {
    display: flex;
    align-items: center;
}

.columna-derecha {
    display: column;
}
.publicidad {
    height: 260px; 
    width: 260px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 30px;
}
.circle-guty {
    width: 60px; 
    height: 60px;
    border-radius: 50%; 
    overflow: hidden; 
    border: 2px solid #ddd; 
    margin-left: 20px;
    margin-bottom: 30px;
}
.circle-guty-image {
    width: 100%; 
    height: auto;
}
.navigation {
    display: flex;
    flex-direction: column;
}
.content-section {
    display: flex;
    align-items: center;
    flex-direction: column; 
}
.publicacion {
    margin-left: 20px;
    margin-bottom: 30px;
}

.barra-publicacion {
    width: 480px; 
    border-radius: 35px; 
    overflow: hidden;
    height: 50px; 
    border: none;
    background-color: #ddd;
    text-indent: 20px; 
}
.user-part {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.elementos-complementarios {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 100px;
}

.elementos-complementarios .palabra {
    display: flex;
    align-items: center; 
}

.elementos-complementarios .palabra img {
    margin-right: 10px; 
}
.elementos-complementarios .palabra img {
    width: 20px; 
    height: auto; 
    margin-right: 5px; 
}
.elementos-complementarios {
    display: flex;
    gap: 80px; 
    justify-content: space-between;
    margin-top: -18px;
    margin-left: 20px;
}
.nueva-seccion {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 250px;
}
h1{
    font-size: 14px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #242424;
}
.perfil-recomendado {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.pic-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.pic-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.description-user {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    margin-left: 40px;
}
strong {
    font-size: 13px;
}
.follow-button {
    display: inline-block;
    padding: 10px 12px;
    border: 2px solid #3498db; 
    border-radius: 25px; 
    background-color: white; 
    color: #3498db; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    margin-left: 200px;
    height: 20px;
    width: 60px;
    inlin: 3px;
}

.follow-button:hover {
    background-color: #3498db; 
    color: white; 
}
.perfil-recomendado2 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.pic-perfil2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.pic-perfil2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.description-user2 {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    margin-left: 10px;
}
strong {
    font-size: 13px;
}
.follow-button2 {
    display: inline-block;
    padding: 10px 12px;
    border: 2px solid #3498db; 
    border-radius: 25px; 
    background-color: white; 
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    margin-left: 200px;
    height: 20px;
    width: 60px;
    inlin: 3px;
}

.follow-button2:hover {
    background-color: #3498db; 
    color: white; 
}
.perfil-recomendado3 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.pic-perfil3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.pic-perfil3 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.description-user3 {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    margin-left: 10px;
}
strong {
    font-size: 13px;
}
.follow-button3 {
    display: inline-block;
    padding: 10px 12px;
    border: 2px solid #3498db; 
    border-radius: 25px; 
    background-color: white; 
    color: #3498db; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    margin-left: 200px;
    height: 20px;
    width: 60px;
}

.follow-button3.accede {
    background-color: #3498db; 
    color: white; 
}
.publicidad {
    max-width: 500px; 
    overflow: hidden; 
}

.publicidad img {
    width: 100%; 
    height: 100%; 
    display: block; 
}
.perfil-derecho {
    height: 300px;
    width: 250px; 
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 30px;
}
.cuenta-recomendado {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.pic-cuenta {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.pic-cuenta img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.tienda1 {
    margin-left: 10px;
}
.boton-d1 {
    display: inline-block;
    padding: 15px 12px;
    padding-top: 7px;
    border: 2px solid #0e0e0e; 
    border-radius: 25px; 
    background-color: white; 
    color: #1c1c1c; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    margin-left: 60px;
    margin-top: -10px;
    height: 10px;
    width: 60px;
    text-align: center; 
    line-height: 24px; 
}
.cuenta-recomendado2 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.pic-cuenta2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.pic-cuenta2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.tienda2 {
    margin-left: 10px;
}
.boton-d2 {
    display: inline-block;
    padding: 15px 12px;
    padding-top: 7px;
    border: 2px solid #0e0e0e; 
    border-radius: 25px; 
    background-color: white; 
    color: #1c1c1c; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    margin-left: 60px;
    margin-top: -10px;
    height: 10px;
    width: 60px;
    text-align: center; 
    line-height: 24px; 
}
.cuenta-recomendado3 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.pic-cuenta3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.pic-cuenta3 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.tienda3 {
    margin-left: 10px;
}
.boton-d3 {
    display: inline-block;
    padding: 15px 12px;
    padding-top: 7px;
    border: 2px solid #0e0e0e; 
    border-radius: 25px; 
    background-color: white; 
    color: #1c1c1c; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    margin-left: 60px;
    margin-top: -10px;
    height: 10px;
    width: 60px;
    text-align: center; 
    line-height: 24px; 
}
.publicaciones {
    border: 2px solid #ddd;
    width: 640px;
    height: 500px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 6px;
}